@model IEnumerable<Bug_Management_App.Models.Projects>
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>HOLA!</h1>
</div>
<table>
    <tr>
        <td>Compañia </td>
        <td>Logo</td>
        <td>Project Manager</td>
        <td>Status</td>
    </tr>

    @foreach (var item in Model.Select((value, index) => new { value, index }))
    {
        <tr>
            <td>@item.value.CompanyName</td>
        </tr>
        <tr> s
            <td><img src="@ViewBag.ImagesData[item.index]" width="50" height="50" /></td>
        </tr>
        <tr>
            <td>@item.value.ProjectManager</td>
        </tr>
        <tr>
            <td>@item.value.Status</td>
        </tr>
    }
</table>




