.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    margin: 0;
    color: #6a6f8c;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    width: 50%;
    height: 100vh;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: #343a40;
    box-shadow: 5px 8px 8px #686868;
    position: relative;
}

.login-html {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }

    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }

    .login-html .tab,
    .login-form .group .login-label,
    .login-form .group .button {
        text-transform: uppercase;
    }

    .login-html .tab {
        font-size: 14px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .login-html .title {
        color: #fff;
        font: 600 26px 'Open Sans',sans-serif;
    }

div.a {
    text-align: center;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    height: 345px;
    position: relative;
    font-size: 12px;
}

    .login-form .group {
        margin-right: -15px;
        margin-left: -15px;
        font-size: 12px;
    }

        .login-form .group .login-label,
        .login-form .group .input,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
            
           
        }

        .login-form .group .input,
        .login-form .group .button {
            font-size: 12px;
            height: auto;
            border: none;
            padding: 8px 8px;
            border-radius: 5px;
            background: rgba(255,255,255,.1);
        }

        /*/.login-form .group input[data-type="password"] {
            text-security: circle;
            -webkit-text-security: circle;
        }*/

        .login-form .group .login-label {
            color: #aaa;
            font-size: 10px;
            padding-top: 7px;
            margin-bottom: 2px;
            text-align: left;
        }

        .login-form .group .button {
            background: #1161ee;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #1161ee;
            font-size: 12px;
        }

        .login-form .group login-label .icon {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            background: rgba(255,255,255,.1);
        }

            .login-form .group login-label .icon:before,
            .login-form .group login-label .icon:after {
                content: '';
                width: 10px;
                height: 2px;
                background: #fff;
                position: absolute;
                transition: all .2s ease-in-out 0s;
            }

            .login-form .group login-label .icon:before {
                left: 3px;
                width: 5px;
                bottom: 6px;
                transform: scale(0) rotate(0);
            }

            .login-form .group login-label .icon:after {
                top: 6px;
                right: 0;
                transform: scale(0) rotate(0);
            }

        .login-form .group .check:checked + login-label {
            color: #fff;
        }

            .login-form .group .check:checked + login-label .icon {
                background: #1161ee;
            }

                .login-form .group .check:checked + login-label .icon:before {
                    transform: scale(1) rotate(45deg);
                }

                .login-form .group .check:checked + login-label .icon:after {
                    transform: scale(1) rotate(-45deg);
                }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.titleLine {
    height: 3px;
    background: #1161ee;
}

.foot-lnk {
    text-align: center;
}

.navbar-font {
    color: white !important;
}
