body {
    margin: 0px 0px 0px 0px;
}

.container.container-style {
    background-color: #cbcbcb;
    padding-right: 0px;
    padding-left: 0px;
    width: 95%;
}
.scrollbar{
    right: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
}
.projects-dashboard{
    padding: 10px 50px;
}
.brand-style {
    float: left;
    height: 50px;
    padding: 11px 15px;
    color: #ffffff;
    font: 400 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    cursor: default;
}
.thead-style{
    background-color: #d8d8d8;
}
.nav-style {
    background-color: #343a40;
    color: #ffffff;
}
.nav-elements {
    font: 500 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9eaaaa;
}
.filters-style{
    background-color: #ffffff;
}
.add-style {
    background-color: #1161ee;
    color: #ffffff;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.project-input {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
}
.project-label {
    color: #585858;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.project-btn {
    font-size: 12px;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background: #337ab7;
    font-size: 12px;
}
.title-text {
    padding: 40px 30px 15px;
    text-transform: uppercase;
    color: #303030;
    font: 600 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-con {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-con {
    display: block;
}
.footer-style {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.plus-sign {

}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 55px;
    background-color: #337ab7;
    color: #FFF;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    text-align: center;
}

/*Projects cards style */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
   
    margin: 10px -5px ;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}