body {
}
.brand-style {
    float: left;
    height: 50px;
    padding: 11px 15px;
    color: #ffffff;
    font: 400 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    cursor: default;
}
.thead-style{
    background-color: #d8d8d8;
}
.nav-style {
    background-color: #343a40;
   color: #ffffff;
}
.nav-elements {
    font: 500 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9eaaaa;
}
.filters-style{
    margin: 10px 0px;
    padding: 15px;
}
.add-style {
    background-color: #1161ee;
    color: #ffffff;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.project-input {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
}
.project-label {
    color: #585858;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.project-btn {
    font-size: 12px;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background: #337ab7;
    font-size: 12px;
}
.title-text {
    padding: 40px 30px 15px;
    text-transform: uppercase;
    color: #303030;
    font: 600 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-con {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-con {
    display: block;
}
